{% extends 'base.html.twig' %}

{% block title %}Les bières{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Les bières que je propose</h1>
        </div>
        {% if beers %}
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-10" scope="col">Nom</th>
                <th class="col-2">Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for beer in beers %}
                <tr style="cursor:pointer" onclick="window.location='{{ path("beer_show", {"id":beer.id}) }}'">
                    <td class="col-10">{{ beer.name }}</td>
                    <td class="col-2"> {{ beer.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="text-center">
                <p>Vous ne proposez actuellement pas de bières</p>
            </div>
        {% endif %}
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('create_beer') }}">Créer un type de bière</a>
        </div>
    </div>

{% endblock %}
