{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau type de bière{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Ajouter une bière</h1>
    </div>
    <div class="container">
        {{ form_start(newBeerForm) }}
        {{ form_row(newBeerForm.name, {'label': 'Nom de la bière', 'attr': {'placeholder': 'Nom de la bière' }}) }}
        {{ form_row(newBeerForm.img, {'label': 'Image'}) }}
        {{ form_row(newBeerForm.degre, {'label': '% alcool', 'attr': {'placeholder': '8.6' }}) }}
        {{ form_row(newBeerForm.price, {'label': 'Prix unitaire', 'attr': {'placeholder': '2.50' }}) }}
        {{ form_row(newBeerForm.beerType, {'label': 'Type'}) }}
        {{ form_row(newBeerForm.description, {'label': 'Description'}) }}

        <div class="text-center">
            <button class="btn btn-outline-primary">Ajouter la bière</button>
        </div>
        {{ form_end(newBeerForm) }}
    </div>
{% endblock %}
