{% extends 'base.html.twig' %}


{% block body %}
<div class="container-fluid min-vh-100 bg-grey">
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-12">
            <h1><b>Beerz!</b> : Découverte et achat de bières en ligne</h1>
        </div>
        <div class="col-12">
            <div class="container">
                <div class="row">
                    {% for beerType in beerTypes %}
                    <div class="col-12 col-sm-5 offset-sm-1 col-md-3 pt-3">
                        <a href="{{ path('show_type', {"id": beerType.id}) }}">
                            <img class="img-fluid img-tile rounded mx-auto d-block" src="{{ asset('uploads/beertype/') ~ beerType.img }}" alt="{{ beerType.name }}">
                            <h4 class="img-caption">{{ beerType.name }}</h4>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
