{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Créer un compte</h1>
    </div>
    <div class="container">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur' }}) }}
            {{ form_row(registrationForm.email, {'label': 'Adresse email', 'attr': {'placeholder': 'john@doe.com' }}) }}
            {{ form_row(registrationForm.nom, {'label': 'Nom', 'attr': {'placeholder': 'Doe' }}) }}
            {{ form_row(registrationForm.prenom, {'label': 'Prénom', 'attr': {'placeholder': 'John' }}) }}
            {{ form_row(registrationForm.isProducer, {'label': 'Je suis :'}) }}
            {{ form_row(registrationForm.address, {'label': 'Adresse', 'attr': {'placeholder': '32 avenue de la République, 93500, Villejuif' }}) }}
            {{ form_row(registrationForm.tel, {'label': 'N° de téléphone', 'attr': {'placeholder': '0612345678' }}) }}
            {{ form_row(registrationForm.password.plainPassword, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe' }} ) }}
            {{ form_row(registrationForm.password.passwordConfirmation, {'label': 'Confirmation de mot de passe', 'attr': {'placeholder': 'Répétez votre mot de passe'}} ) }}


        <div class="text-center">
            <button class="btn btn-outline-primary">Créer un compte</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
