.pt-60p {
    padding-top: 60px;
}

.bg-grey {
    background-color: #f0f0eb;
}

.img-caption {
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-tile {
    max-height: 300px;
}

.img-item {
    max-width: 200px;
}

.img-cart {
    max-height: 200px;
}