{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -
    {% if beer %}
        {{ beer.name }}
    {% else %}
        Beer not found !
    {% endif %}
{% endblock %}

{% block body %}
    {% if beer %}
        <div class="container pt-3">
            <div class="row">
                <!-- Image -->
                <div class="col-12 col-lg-6">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <a href="#" data-toggle="modal" data-target="#productModal">
                                <img class="img-fluid img-tile rounded mx-auto d-block" src="{{ asset('uploads/beers/') ~ beer.img }}" />
                                <p class="text-center">Zoom</p>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Add to cart -->
                <div class="col-12 col-lg-6 add_to_cart_block">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h3>{{ beer.name }}</h3>
                            <p>Prix unitaire : {{ beer.price }}€</p>
                            <p>Degré : {{ beer.degre }}%</p>
                            {% if is_granted('ROLE_USER') %}
                                {{ form_start(addToCartForm) }}
                                    <div class="form-group">
                                        <h4><a href="{{ path('show_type', {"id": beer.beerType.id}) }}">{{ beer.beerType.name }}</a></h4>
                                        <label>Quantité :</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                                    <i class="oi oi-minus"></i>
                                                </button>
                                            </div>
                                            {{ form_widget(addToCartForm.quantity, {'attr': {'class': 'form-control', 'min': 1, 'max': 99, 'value': 1}}) }}
                                            <div class="input-group-append">
                                                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                    <i class="oi oi-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg btn-block text-uppercase">
                                        <i class="oi oi-cart"></i> Ajouter au panier
                                    </button>
                                {{ form_end(addToCartForm) }}
                            {% else %}
                                <p>Connectez-vous en tant qu'utilisateur pour profiter de toutes les fonctionnalités</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Description -->
                <div class="col-12">
                    <div class="card border-light mb-3">
                        <div class="card-header bg-primary text-white text-uppercase"><i class="oi oi-justify-center"></i> Description</div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ beer.description }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Reviews -->
                <div class="col-12" id="reviews">
                    <div class="card border-light mb-3">
                        <div class="card-header bg-primary text-white text-uppercase"><i class="oi oi-comment-square"></i> Commentaires ({% if comments %}{{ comments|length }}{% else %}0{% endif %})</div>
                        <div class="card-body">
                            {% if comments %}
                                {% for comment in comments %}
                                    <div class="review">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        <meta itemprop="datePublished" content="01-01-2016">Le {{ comment.createdAt|date('d/m/Y') }}
                                        par {{ comment.user.username }}
                                        <p class="blockquote">
                                        <p class="mb-0">{{ comment.message }}</p>
                                        </p>
                                        <hr>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div>
                                    {{ form_start(NewCommentForm) }}
                                        {{ form_row(NewCommentForm.message, {'label': 'Message', 'attr': {'placeholder': 'J\'aime bien' }} ) }}
                                        <button class="btn btn-outline-primary">Commenter</button>
                                    {{ form_end(NewCommentForm) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal image -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">{{ beer.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="img-fluid mx-auto d-block" src="{{ asset('uploads/beers/') ~ beer.img }}" alt="{{ beer.name }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-center">404 : Beer not found !</h1>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            var quantity = 1;

            $('.quantity-right-plus').click(function(e){
                e.preventDefault();
                var quantity = parseInt($('#{{ addToCartForm.quantity.vars.id }}').val());
                $('#{{ addToCartForm.quantity.vars.id }}').val(quantity + 1);
            });

            $('.quantity-left-minus').click(function(e){
                e.preventDefault();
                var quantity = parseInt($('#{{ addToCartForm.quantity.vars.id }}').val());
                if(quantity > 1){
                    $('#{{ addToCartForm.quantity.vars.id }}').val(quantity - 1);
                }
            });

        });
    </script>
{% endblock %}