{% extends 'base.html.twig' %}

{% block title %}Les bières{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Les bières</h1>
        </div>
        <div class="row">
            {{ form_start(searchForm) }}
                {{ form_widget(searchForm.search, {'attr': {'placeholder': 'Recherche...' }}) }}
            {{ form_end(searchForm) }}
        </div>
        <br>

        {% if beers %}
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="col-5">Nom</th>
                    <th class="col-5">Type</th>
                    <th class="col-2">Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for beer in beers %}
                <tr style="cursor:pointer" onclick="window.location='{{ path("beer_show", {"id":beer.id}) }}'">
                    <td class="col-5">{{ beer.name }}</td>
                    <td class="col-5">{{ beer.beerType.name }}</td>
                    <td class="col-2"> {{ beer.price }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="text-center">
                <h2>Il n'y a pas de bières</h2>
            </div>
        {% endif %}
    </div>

{% endblock %}
