{% extends 'base.html.twig' %}

{% block title %}{{ name_type }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Les bières de la catégorie "{{ name_type }}"</h1>
        </div>
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-10" scope="col">Nom</th>
                <th class="col-2">Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for beer in beers %}
            <tr style="cursor:pointer" onclick="window.location='{{ path("beer_show", {"id":beer.id}) }}'">
                <td class="col-10">{{ beer.name }}</td>
                <td class="col-2"> {{ beer.price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
