{% extends 'base.html.twig' %}

{% block title %}Types de bières{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Gestion des types de bières</h1>
        </div>
        <div class="text-center">
            <h2>Les types de bières</h2>
        </div>

        {% if beerTypes %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for beerType in beerTypes %}
                    <tr>
                        <td>{{ beerType.name }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ path('delete_beer_type', {"id": beerType.id}) }}">Supprimer <i class="fa fa-exclamation-triangle"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="text-center">
                <p>Il n'y a aucun type de bière :(</p>
            </div>
        {% endif %}
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('create_beer_type') }}">Créer un type de bière</a>
        </div>
    </div>
{% endblock %}
