{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau type de bière{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Créer un type de bière</h1>
    </div>
    <div class="container">
        {{ form_start(newBeerForm) }}
        {{ form_row(newBeerForm.name, {'label': 'Nom du type de bière', 'attr': {'placeholder': 'Nom du type de bière' }}) }}
        {{ form_row(newBeerForm.img, {'label': 'Image de catégorie'}) }}


        <div class="text-center">
            <button class="btn btn-outline-primary">Créer le type</button>
        </div>
        {{ form_end(newBeerForm) }}
    </div>
{% endblock %}
