{% extends 'base.html.twig' %}

{% block title %}Gestion utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Gestion des utilisateurs</h1>
        </div>
        <div class="text-center">
            <h2>Les types de bières</h2>
        </div>

        {% if users %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Email</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>type util</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>
                            {% if "ROLE_PRODUCER" in user.roles %}
                                Producteur
                            {% else %}
                                Utilisateur
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{ path('delete_user', {"id": user.id}) }}">Supprimer <i class="fa fa-exclamation-triangle"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="text-center">
                <p>Il n'y a aucun utilisateur :(</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
