<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-warning mb-3">
    <div class="container">
        <a href="{{ path('home') }}" class="navbar-brand"><img src="{{ asset('img/cheers.svg') }}" width="32" alt=""> <b>Beerz!</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#beerz-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="beerz-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link"><b>Accueil</b></a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('beers') }}" class="nav-link"><b>Bières</b></a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a href="{{ path('cart') }}" class="nav-link"><b>Mon Panier</b></a>
                </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path("user_mngt") }}"><b>Administration</b></a>
                                <a class="dropdown-item" href="{{ path('beer_types') }}"><b>Types de bières</b></a>
                            {% elseif is_granted('ROLE_PRODUCER') %}
                                <a class="dropdown-item" href="{{ path('producer_beers') }}"><b>Mes bières</b></a>
                            {% endif %}
                            <a class="dropdown-item" href="#"><b>compte</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="nav-link">S'enregistrer</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>