{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid min-vh-100 bg-grey">
        <div class="col-12">
            <h1 class="text-center">Articles dans votre panier</h1>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="list-group" id="cart-list">
                {% if cart is empty %}
                    <div class="list-group-item">
                        <h2 class="text-center">Le panier est vide</h2>
                    </div>
                {% else %}
                    {% for item in cart %}
                        <div class="list-group-item d-flex flex-row justify-content-between item-cart" id="item-{{ item.id }}">
                            <a href="{{ path('beer_show', {'id': item.beer.id}) }}">
                                <img src="{{ asset('uploads/beers/') ~ item.beer.img }}" alt="{{ item.beer.name }}" class="img-fluid img-cart rounded mx-auto pl-2">
                            </a>
                            <div class="d-flex flex-column">
                                <h2><a href="{{ path('beer_show', {'id': item.beer.id}) }}">{{ item.beer.name }}</a></h2>
                                <h4><a href="{{ path('show_type', {'id': item.beer.beerType.id}) }}">{{ item.beer.beerType.name }}</a></h4>
                                <h5>{{ item.beer.price }} €</h5>
                                <h5>Quantité : {{ item.quantity }}</h5>
                            </div>
                            <div class="d-flex flex-column">
                                <form class="delete-item" method="post" action="{{ path('delete_item_cart') }}">
                                    <input type="hidden" name="cart" value="{{ item.id }}">
                                    <button type="submit" class="btn btn-danger"><span class="oi oi-trash"></span></button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="float-right pt-2">
                <h5 class="d-inline pr-1">Sous-total: <b id="price-total">{{ total }} €</b></h5>
                <form method="post" action="{{ path('cart_order') }}" id="cart-order">
                    <button type="submit" class="btn btn-outline-primary">Passer la commande</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('submit', '.delete-item', function(e) {
            e.preventDefault();
            var idItem = $(this).find('input[name=cart]').val();

            $.ajax({
                method: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                datatype: "json"
            }).done(function(data) {
                $('#item-' + idItem).remove();
            });
        });

        $(document).on('submit', '#cart-order', function(e) {
            e.preventDefault();

            $.ajax({
                method: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                datatype: "json"
            }).done(function(data) {
                $('.item-cart').remove();
                $('#price-total').html('0 €');
                $('#cart-list').html('<div class="list-group-item"><h2 class="text-center">Le panier est vide</h2></div>');
            });
        });
    </script>
{% endblock %}